langchain
langchain-community
langchain-text-splitters
langchain-openai
langchain-huggingface
langchain-chroma
langchain-groq

python-dotenv
ipykernel

pypdf
pymupdf
bs4
arxiv
wikipedia
duckduckgo-search
chromadb
faiss-cpu
duckdb
pandas
mysql-connector-python
SQLAlchemy
validators==0.28.1

sentence-transformers
huggingface-hub

openai

youtube-transcript-api
unstructured
pytube
numexpr
streamlit
streamlit-chat
uuid
pytesseract
pdf2image
Pillow
pickle-mixin
trulens
shap
evaluate
